<!DOCTYPE html>
<html lang="en">
<head>

    <title>Sewakar - Skilled Staff Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/Font.css">
    <link rel="stylesheet" href="../static/css/css.css">
    <link rel="stylesheet" href="../static/css/Slide.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=shadow-multiple">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overlock SC">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {font-family: "Roboto", sans-serif}
        .w3-bar-block .w3-bar-item {
        padding: 16px;
        font-weight: bold;
        }
        .w3-sofia {
        font-family: "Allerta Stencil", Sans-serif;
        }
        .w3-lobster {
        font-family: "Lobster", Sans-serif;
        }
        .blink_me {
        animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
        50% {
                opacity: 0;
            }
        }
    </style>

</head>
<body>
    <div class="d-block d-lg-none">
        <nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:250px;" id="mySidebar">
            <div class="w3-row" style="background-color: #28196d">
                <a class="w3-col w3-bar-item w3-button w3-border-bottom w3-large " style="width:100%;"  href="index.html">
                    <img src="../static/images/Logo/sewakar_Logo.png" style="width:100%;" >
                </a>
            </div>

            <div class="w3-row" style="background-color: #28196d;color: white;">

                {% if request.session.id %}

                <a class="w3-bar-item w3-button" onclick="location.href='#'">{{ request.session.first_name }} {{request.session.last_name}} </a>

                <a class="w3-bar-item w3-button" onclick="location.href='/logout'">Logout</a>
                <a class="w3-bar-item w3-button w3-border-bottom" onclick="location.href='/booking'">Booking / INR : 00</a>
                <br>
                <a class="w3-bar-item w3-button " onclick="location.href='/'">Home</a>
                <a class="w3-bar-item w3-button " onclick="location.href='#'">Service</a>
                <a class="w3-bar-item w3-button" onclick="location.href='/profile'" >Profile</a>
                <a class="w3-bar-item w3-button" onclick="location.href='#'" >About us</a>
                <a class="w3-bar-item w3-button" onclick="location.href='#'" >Blog</a>
                <a class="w3-bar-item w3-button" onclick="location.href='/contact_us'" >Contact us</a>
                <a class="w3-bar-item w3-button" onclick="location.href='/help_us'" >Help Center</a>


                {% else %}

                <a class="w3-bar-item w3-button" onclick="location.href='/login'">Login / Signup</a>

                <a class="w3-bar-item w3-button w3-border-bottom" onclick="location.href='/booking'">Booking / INR : 00</a>

                <a class="w3-bar-item w3-button " onclick="location.href='/'">Home</a>
                <a class="w3-bar-item w3-button " onclick="location.href='#'">Service</a>
                <a class="w3-bar-item w3-button" onclick="location.href='#'" >About us</a>
                <a class="w3-bar-item w3-button" onclick="location.href='#'" >Blog</a>
                <a class="w3-bar-item w3-button" onclick="location.href='/contact_us'" >Contact us</a>
                <a class="w3-bar-item w3-button" onclick="location.href='/help_us'" >Help Center</a>

                {% endif %}

                <br><br>
            </div>
        </nav>
    </div>


    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay">
    </div>

    <div class="w3-main">

        <div id="myTop" class="container-fluid w3-top w3-2021-inkwell w3-large" style="background-color: #0F205A;padding: 0px 0px;">
            <div class="d-block d-lg-none" style="color: #EEAB28">
                <p class="ml-4">
                    <br>
                    <i class="fa fa-bars w3-buttonw3-hide-large w3-xlarge" onclick="w3_open()"></i>
                    &nbsp;&nbsp;
                    <span id="myIntro" class="w3-sofia" >Sewakar - Skilled Staff Service</span>

                </p>
            </div>

            <div class="d-none d-lg-block">
                <div class="row">
                    <div class="col-1" style="background-color: #28196d;">

                    </div>
                    <div class="col-md-2" onclick="location.href='#'" style="cursor:pointer;background-color: #28196d;">
                        <div class="m-2">
                            <img src="../static/images/Logo/sewakar_Logo.png" style="width:65%;" >
                        </div>

                    </div>
                    <div class="col-md-9" style="background-color: #28196d;">
                        <div class="row mt-2">
                            <div class="col-12">

                                <p class="d-none d-md-block" align="right" style="font-size: 14px;">

                                    <a onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">About us</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Blog</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a onclick="location.href='/help_center'" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Help Center</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <a style="font-size: 14px;">Follow us : </a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a onclick="location.href='https\:\/\/www.facebook.com\/sewakar.skill\/'" onmouseover="this.style='cursor:pointer;'" target="_blank">
                                        <i class="fa fa-facebook-square text-primary" style="font-size: 16px;color: #4b26f0;"></i>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a onclick="location.href='https\:\/\/www.instagram.com\/sewakar.xyz\/'" onmouseover="this.style='cursor:pointer;'" target="_blank">
                                        <i class="fa fa-instagram" style="color: white;font-size: 16px;"></i>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a onclick="location.href='https\:\/\/twitter.com\/sewakarstaff'" onmouseover="this.style='cursor:pointer;'" target="_blank">
                                        <i class="fa fa-twitter-square" style="color: #28DCEE;font-size: 16px;"> </i>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </div>
                        </div>

                        <div class="row mt-4" style="font-size: 14px;">
                            <div class="col-12">
                                <p align="right" style="cursor:pointer">

                                    {% if request.session.id %}

                                    <a class="btn" onclick="location.href='/'" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Home</a>
                                     &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="btn" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Service</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="btn" onclick="location.href='/booking'" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Booking</a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="btn" onclick="location.href='/profile'" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Profile</a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="btn" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">
                                        <i class="fa fa-user-circle-o"> </i>&nbsp;&nbsp;
                                        {{ request.session.first_name }} {{request.session.last_name}}

                                    </a>
                                    &nbsp;&nbsp;<i class="fa fa-angle-double-right" style="font-size:16px"></i>&nbsp;&nbsp;
                                    <a class="btn" onclick="location.href='/logout'" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Logout</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;

                                    {% else %}

                                    <a class="btn" onclick="location.href='/'" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Home</a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="btn" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Service</a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="btn" onclick="location.href='/booking'" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Booking</a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="btn" onclick="location.href='/login'" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Login</a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="btn" onclick="location.href='/signup'" onmouseover="ChangeMenuList(this)" onmouseout="RemoveMenuList(this)">Signup</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;

                                    {% endif %}
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--Body Part-->
        {% block content %} {% endblock %}
        <!-- End Body Part-->

        <footer class="container-fluid" style="background-color: #170f38;">
            <div class="container">
                <br>
                <div class="row w3-border-bottom ">
                    <div class="col-md-7" style="color: #EEAB28">
                        <h3 class="w3-sofia">Sewakar - Skilled Staff Service</h3>
                    </div>
                    <div class="col-1 d-block d-md-none">
                        <br><br>
                    </div>
                    <div class="col-md-5" style="color: #C5C6C7;">
                        <p align="center" style="font-family: Overlock SC;font-size: 18px;">Contact us : 9769830037 </p>
                        <p align="center">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a onclick="location.href='mailto:info@sewakar.com'" onmouseover="this.style='cursor:pointer;'" target="_blank">
                                <i class="fa fa-envelope-o text-white" style="font-size: 24px;color: #ec6161;"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a onclick="location.href='https\:\/\/www.facebook.com\/sewakar.skill\/'" onmouseover="this.style='cursor:pointer;'" target="_blank">
                                <i class="fa fa-facebook-square text-primary" style="font-size: 24px;color: #4b26f0;"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a onclick="location.href='https\:\/\/www.instagram.com\/sewakar.xyz\/'" onmouseover="this.style='cursor:pointer;'" target="_blank">
                                <i class="fa fa-instagram" style="color: white;font-size: 24px;"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a onclick="location.href='https\:\/\/twitter.com\/sewakarstaff'" onmouseover="this.style='cursor:pointer;'" target="_blank">
                                <i class="fa fa-twitter-square" style="color: #28DCEE;font-size: 24px;"> </i>
                            </a>

                        </p>

                    </div>
                </div>
                <br>
                <div class="row text-secondary" style="font-size: 13px;">
                    <div class="col-md-3">
                        <p style="font-size: 15px;font-weight: bold;"><br></p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> Working hours : Mon - Fri / 8:00 - 18:00</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Free Support : +91 0123456789</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Order Support :Send email</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Return Policy</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Delivery</p>
                        <hr class="d-block d-md-none">
                    </div>
                    <div class="col-md-3">
                        <p style="font-size: 15px;font-weight: bold;">Quick Contact</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Returns Policy</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ About Us</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Our Services</p>
                        <p onclick="location.href='/contact_us'" onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Contact Us</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Blog</p>
                        <hr class="d-block d-md-none">
                    </div>
                    <div class="col-md-3">
                        <p style="font-size: 15px;font-weight: bold;">Logins</p>
                        <p onclick="location.href='/login'" onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Login For Public</p>
                        <p onclick="location.href='/signup?id=1'" onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Register For Public</p>
                        <p onclick="location.href='/login'" onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Login For Worker</p>
                        <p onclick="location.href='/signup?id=2'" onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)"> ≻ Register For Worker</p>
                        <hr class="d-block d-md-none">
                    </div>
                    <div class="col-md-3">
                        <p style="font-size: 15px;font-weight: bold;">Reach Us</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)">≻ Mobile No: 9769830037, 9471924659</p>
                        <p onmouseover="ChangeColor(this)" onmouseout="RemoveColor(this)">≻ Email : Info@Sewakar.Com</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- About Developer-->
        <footer class="w3-container" style="background-color: #C5C6C7;">
            <div class="row w3-border-bottom " style="font-family: Overlock SC">
                <div class="col-12">
                    <p align="center" style="font-size: 15px;">Copyright © 2021 Sewakar. All rights reserved.</p>
                </div>
            </div>
        </footer>

    </div>

    <script>
    // Open and close the sidebar on medium and small screens
    function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
    }

    // Change style of top container on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
        document.getElementById("myIntro").classList.add("w3-show-inline-block");
    } else {
        document.getElementById("myIntro").classList.remove("w3-show-inline-block");
        document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
    }
    }

    // Accordions
    function myAccordion(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme", "");
    }
    }

    function ChangeColor(x){
        x.style="color:#EEAB28;font-size:14px;cursor:pointer";
    }

    function RemoveColor(x){
        x.style="";
    }
    function ChangeButtonColor(x){
        x.style="width:100%;background-color:#4156BE;";
    }

    function RemoveButtonColor(x){
        x.style="width:100%;background-color: #94a3ec;";
    }
    function ChangeMenuList(x){
        x.style="color:#EEAB28;font-size:15px;cursor:pointer";
    }
    function RemoveMenuList(x){
        x.style="";
    }
    </script>


</body>
</html>
